html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: cornsilk;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
#root {
  padding: 20px;
  margin: 100px auto 0;
  width: 1000px;
  vertical-align: middle;
}
.form {
}
.fieldset {
  border: 1px solid rgb(12, 12, 12);
}
.legend {
  font-size: 14px;
}
.input {
  margin-right: 5px;
  padding: 5px 15px;
  border: 1px solid grey;
  border-radius: 7px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}
.input:hover {
  cursor: pointer;
  background-color: rgb(143, 204, 253);
}
.input:active {
  cursor: pointer;
  color: white;
  background-color: #4072fe;
}
.active {
  color: white;
  background-color: #4072fe;
}
.main {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider-block {
  display: flex;
  flex-direction: column;
}
.text {
  margin: 0;
  font-size: 12px;
  text-align: left;
}

#swatch {
  width: 30%;
  height: 100px;
  padding: 10px;
  display: flex;
}
.ui-slider-handle {
  cursor: pointer;
}

#red .ui-slider-range {
  background: #ef2929;
}
#red .ui-slider-handle {
  border-color: #ef2929;
}
#green .ui-slider-range {
  background: #8ae234;
}
#green .ui-slider-handle {
  border-color: #8ae234;
}
#blue .ui-slider-range {
  background: #729fcf;
}
#blue .ui-slider-handle {
  border-color: #729fcf;
}
#red,
#green,
#blue {
  float: left;
  width: 400px;
  margin: 15px;
}
